<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 
        <link rel="stylesheet" type="text/css" href="styles.css">

    </head>
    <%- include('partials/header.ejs') %>
    <div class="dashboard">
        <div class="navbar">
            <h1 class="title">Dashboard</h1>
            <button onclick="window.location.href='/profile'">Update Profile</button>
            <button onclick="window.location.href='/logout'">Logout</button>
        </div>

            
        <div class="addTask">
            <h2>Add Task</h2>
            <form action="/tasks" method="POST">
                
                <input type="text" name="task" placeholder="Task" required>
                <select name="type" required>
                    <option value="roads">Roads</option>
                    <option value="water">Water</option>
                    <option value="electricity">Electricity</option>
                    <option value="sewage">Sewage</option>
                    <option value="other">Other</option>
                </select>
                <button type="submit" onclick="window.location.href='/dashboard'">Add</button>
            </form>
        </div>
    
        <div class="tasks">
            <h2 id="task-head">Tasks</h2>
            
            <ul id="taskList">
                <% let tasks = locals.tasks %>
                <% tasks.forEach((task)=>{%>
                    <li class="task">
                        <span class="task-content"><%=task.task %></span>
                        <span class="task-type"><%=task.type %></span>
                        <button onclick="deleteTask('<%=task.task_id%>')">Delete</button>
                    </li>
                <%});%>
            </ul>
        </div>
        
            
        <%- include('partials/footer.ejs') %>
            
    </div>
    
    <script>
        async function deleteTask(taskId){
                try{
                    let res = await axios.delete(`/tasks/${taskId}`);
                    window.location.href='/dashboard';
                    // console.log(res.status);  // 200 is succesful, 500 if backend problem, 404 if not found
                    

                }catch(err){
                    console.log(err);
                    alert('Error deleting task');
                }
            
        }
        
            
        
    </script>
    
</html>