<!DOCTYPE html>
<html>
    <head>
        <title><%if(locals.user){%><%=locals.user%><%}%></title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 
        <link href="styles.css" rel="stylesheet" type="text/css">
    </head>
    <%- include('partials/header.ejs') %>
    <div class="user">
        <h1 class="title"><%if(locals.user){%>Hello there, <%=locals.user%>!<%}%></h1>
        <div class="navbar">
            <button onclick="window.location.href='/dashboard'">Home</button>
            <button onclick="window.location.href='/logout'">Logout</button>
        </div>
        
        
    
        <div class="profile">
            
            
                <form action='/profile' method="POST" onsubmit="updateUser(event)">
                    
                    <h2 class="title">Update Profile</h2>
                    <label for="name">Name</label>
                    <input type="text" name="name" value="<%=locals.user%>" required>
                    <label for="new_password">Password</label>
                    <input type="password" name="new_password" required>
                    <label for="old_password">Old Password</label>
                    <input type="password" name="old_password" required>
                     
                    <button id = "update-btn" type="submit">Update</button>
                </form>
           
        </div>
        <div class="delete">
            <form method="POST" action="/profile_delete" onsubmit="deleteUser(event)">
                <h2 class="title">Delete Account</h2>
                <p>Warning: This action is irreversible</p>
                <input type="password" name="password" placeholder="password"required>
                <button id="delete-btn" type="submit">Delete Account</button>
            </form>
        </div>
        <%- include('partials/footer.ejs') %>
    </div>  
    
    <script>
        async function updateUser(event){
            event.preventDefault();
            const old_password = document.querySelector('input[name="old_password"]').value;
            const new_password = document.querySelector('input[name="new_password"]').value;
            if(old_password === new_password){
                return alert('Old password and new password cannot be the same');
            }
            try{
                const data = {
                    name: document.querySelector('input[name="name"]').value,
                    new_password: document.querySelector('input[name="new_password"]').value,
                    old_password: document.querySelector('input[name="old_password"]').value
                };
                const res = await axios.post('/profile', data, {
                    headers: {
                        'Accept': 'application/json',
                    }
                });

                console.log(res.status, res.data);
                alert('Profile updated');
                window.location.href = '/profile';

            }catch(err){
                console.log(err);
                alert('Error updating profile');
                // window.location.href = '/profile';
            }
        }
        async function deleteUser(event){
            event.preventDefault();
            const password = document.querySelector('input[name="password"]').value;
            const data = {
                password: password
            };
            try{
                const res = await axios.post('/profile_delete', data, {
                    
                    headers: { 'Accept': 'application/json' }
                });

                console.log(res.status, res.data);
                alert('Account deleted');
                window.location.href = '/logout';
            }catch(err){
                console.log(err);
                alert('Error deleting account');
            }
        }
        // document.querySelector('.form form').addEventListener('submit', (event)=>updateUser(event));
        // document.querySelector('form[action="/profile"][method="DELETE"]').addEventListener('submit', (event)=>deleteUser(event));

        
    </script>
</html>